<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.com.fittrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".User"
            android:label="@string/title_activity_user"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.fittrack.MainActivity" />
        </activity>
        <activity
            android:name=".Station"
            android:label="@string/title_activity_station"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.fittrack.MainActivity" />
        </activity>
        <activity
            android:name=".Training"
            android:label="@string/title_activity_training"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.fittrack.MainActivity" />
        </activity>
        <activity
            android:name=".Target"
            android:label="@string/title_activity_target"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.fittrack.MainActivity" />
        </activity>
        <activity
            android:name=".form_user"
            android:label="Benutzer verwalten"
            android:parentActivityName=".User" />
        <activity
            android:name=".form_target"
            android:label="Benutzer verwalten"
            android:parentActivityName=".Target" />
        <activity
            android:name=".form_station"
            android:label="Gerät verwalten"
            android:parentActivityName=".Station" />
        <activity
            android:name=".form_training"
            android:label="Gerät verwalten"
            android:parentActivityName=".Training" />
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.example.com.fittrack.MainActivity" />
        </activity>
    </application>

</manifest>